html {
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.content {
  max-height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #2b2d42;
  text-align: center;
}

.navbar > div {
  display: flex;
  gap: 1rem;
}

.navbar > div > a {
  text-decoration: none;
  color: #edf2f4;
  margin: auto;
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
  color: #edf2f4;
  text-decoration: none;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginform,
.signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  gap: 1rem;
  margin-bottom: 2rem;
}

.loginform > button,
.signupform > button {
  background-color: white;
  color: #2b2d42;
  border: 4px solid #2b2d42;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}

.loginform > div > input,
.signupform > div > input {
  padding: 0.5rem;
  font-size: 1rem;
}

.footer {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  background-color: #2b2d42;
  color: #edf2f4;
}

p > a {
  color: #edf2f4;
}

form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div > p,
.error {
  color: red;
  margin-top: 0.5rem;
}

.errorborder {
  border: 2px solid red;
  border-radius: 4px;
}

.logout {
  text-decoration: none;
  color: #edf2f4;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
}

.dashboard {
  display: grid;
  height: 100%;
  width: 97%;
  grid-template: 1fr 14fr/ 1fr 4fr;
  gap: 8px;
}

.dashboard > * {
  border-radius: 10px;
  border: 2px solid black;
}

.sidebar {
  grid-row: 1/3;
  grid-column: 1/2;
}

.searchbar {
  background: #c57b57;
  display: grid;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
  border-radius: 10px 10px 0 0;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
.search > img {
  height: 24px;
  width: 24px;
}

.search > input {
  width: 100%;
  height: 80%;
  background-color: #c57b57;
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

.search > input:focus {
  outline: none;
}

.search > input::placeholder {
  color: black;
  opacity: 0.5;
}

.dropdown {
  position: absolute;
  background-color: #f7dba7;
  top: 101%;
  border-radius: 0 0 10px 10px;
  outline: 2px solid black;
  min-height: 40px;
  /* width: calc(100% - 4px); */
  width: 100%;
}

.dropdown > .spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hints {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  margin: 1rem;
  gap: 1rem;
}

.mainresult {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
}
.mainresult > p {
  font-weight: bolder;
}
.hint {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
}
.hint > button {
  justify-self: flex-end;
}

.mainresult > img,
.hint > img {
  max-width: 50px;
  min-width: 50px;
  height: auto;
  border: 4px solid #c57b57;
  border-radius: 4px;
}

.mainresult > button,
.hint > button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  height: 40px;
  width: 40px;
  text-align: center;
}
.mainresult > button:hover,
.hint > button:hover {
  background: rgba(0, 0, 0, 0.35);
  border-radius: 50%;
}

.mainresult:hover,
.hint:hover {
  background: rgba(255, 255, 255, 0.35);
}

.mainresult:hover > p,
.hint:hover > p {
  text-decoration: underline;
  cursor: pointer;
}

.refine {
  font-weight: bolder;
  padding: 1rem;
  margin: 1rem;
}

.searchHide {
  width: 100%;
  background: none;
  font-size: 1.5rem;
  border-radius: 4px;
  border: none;
}

#show,
#hide {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50%;
}

#show:hover,
#hide:hover {
  background-color: rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

#close {
  cursor: pointer;
  padding: 8px;
}

.pieChart {
  max-height: 300px;
  max-width: 300px;
}
.itemDisplay,
.itemDisplayContainer {
  height: 100%;
}

.itemDisplay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.itemPeripherals {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
}
.itemPeripherals > img {
  border: 4px solid #c57b57;
  max-height: 400px;
  border-radius: 8px;
}

.nutrition {
  display: flex;
  width: auto;
  gap: 5rem;
}

.quickStats {
  width: 200px;
  text-align: center;
}

.quickStats > div {
  display: flex;
  justify-content: space-between;
}

.chart {
  text-align: center;
}

.sidebar {
  background-color: #c57b57;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
  overflow-x: hidden;
}

.sidebar > h2 {
  text-align: center;
  margin-bottom: 1rem;
  margin-top: 0;
}

.sidebar > button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  text-align: center;
  width: 100%;
  font-weight: bolder;
  padding: 10px 0 10px 0;
  background-color: #f7dba7;
  border: 2px solid black;
  border-radius: 4px;
  margin-bottom: 1rem;
}

.sidebar > button:hover {
  text-decoration: underline;
}

.planListItem {
  margin: 4px 0 4px 0;
  background-color: #f7dba7;
  border: 2px solid black;
  border-radius: 4px;
  padding: 4px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  align-items: center;
}

.planListItem > img {
  height: 1rem;
  cursor: pointer;
}

.planListItem > p:hover {
  text-decoration: underline;
  cursor: pointer;
}

.planDisplay {
  width: 100%;
  height: 100%;
}

.plan {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-height: 100%;
}

.nutrition,
.meals {
  width: 100%;
}

.nutrition {
  display: flex;
  align-items: center;
  justify-content: center;
}

.meals {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.meals > div {
  width: 50%;
}

.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  max-height: 100%;
}

.meal {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  background-color: #f7dba7;
  padding: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: 2px solid black;
  border-radius: 4px;
}

.mealimgs {
  display: flex;
  gap: 40px;
  align-items: center;
}

.mealimgs > img {
  max-height: 40px;
}

.deleteMeal {
  height: 20px;
  padding-left: 10px;
  cursor: pointer;
}

.planMeasurements {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.planMeasurements > input {
  max-width: 50px;
}

.planMeasurements > select {
  width: 100px;
}
