body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #2b2d42;
  text-align: center;
}

.navbar > div {
  display: flex;
  gap: 1rem;
}

.navbar > div > a {
  text-decoration: none;
  color: #edf2f4;
  margin: auto;
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
  color: #edf2f4;
  text-decoration: none;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginform,
.signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  gap: 1rem;
  margin-bottom: 2rem;
}

.loginform > button,
.signupform > button {
  background-color: white;
  color: #2b2d42;
  border: 4px solid #2b2d42;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}

.loginform > div > input,
.signupform > div > input {
  padding: 0.5rem;
  font-size: 1rem;
}

.footer {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: #2b2d42;
  color: #edf2f4;
}

p > a {
  color: #edf2f4;
}

form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div > p,
.error {
  color: red;
  margin-top: 0.5rem;
}

.errorborder {
  border: 2px solid red;
  border-radius: 4px;
}

.logout {
  text-decoration: none;
  color: #edf2f4;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
}

.dashboard {
  display: grid;
  height: 100%;
  grid-template: 1fr 14fr/ 1fr 4fr;
}

.dashboard > * {
  border: 2px solid black;
  margin: 4px;
  border-radius: 10px;
}

.sidebar {
  grid-row: 1/3;
  grid-column: 1/2;
}

.searchbar {
  background: #c57b57;
  color: white;
  display: grid;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
  position: relative;
}

.search {
  display: flex;
  align-items: center;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

.search > input {
  width: 100%;
  height: 80%;
  background-color: #c57b57;
  border: none;
  font-size: 1rem;
  margin-left: 1rem;
  border-bottom: 2px solid black;
  padding-bottom: 0.5rem;
}

.search > input:focus {
  outline: none;
}

.search > input::placeholder {
  color: black;
  opacity: 0.5;
}

.dropdown {
  position: absolute;
  background-color: #c57b57;
  color: red;
  top: 50px;
  border-radius: 10px;
  border: 2px solid black;
}
