body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #2b2d42;
  text-align: center;
}

.navbar > div {
  display: flex;
  gap: 1rem;
}

.navbar > div > a {
  text-decoration: none;
  color: #edf2f4;
  margin: auto;
}

.logo {
  font-size: 2rem;
  font-weight: bolder;
  margin: 0;
  color: #edf2f4;
  text-decoration: none;
}

.login,
.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginform,
.signupform {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 250px;
  gap: 1rem;
  margin-bottom: 2rem;
}

.loginform > button,
.signupform > button {
  background-color: white;
  color: #2b2d42;
  border: 4px solid #2b2d42;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bolder;
  cursor: pointer;
  padding: 0.5rem;
  width: 100%;
}

.loginform > div > input,
.signupform > div > input {
  padding: 0.5rem;
  font-size: 1rem;
}

.footer {
  display: flex;
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-color: #2b2d42;
  color: #edf2f4;
}

p > a {
  color: #edf2f4;
}

form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > div > p,
.error {
  color: red;
  margin-top: 0.5rem;
}

.errorborder {
  border: 2px solid red;
  border-radius: 4px;
}

.logout {
  text-decoration: none;
  color: #edf2f4;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
}
